/* src/App.css or your global CSS file */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up the full height */
}

main {
  flex: 1; /* Make sure the main content area grows to fill available space */
}
